<a [routerLink]="['/evaluer/welcome-evaluation']" class="btn btn-default btn-flat">
  Questionnare II  </a>

<div class="container">
  <div class="row">
    <ng-template [ngIf]="questionnaires | async" [ngIfElse]="loading">
      <ng-container *ngFor="let questionnaires of questionnaires | async" >
        <p>{{questionnaires.thematique}}</p>
        <a class = text-decoration-none [routerLink] = "['/choix-metier',questionnaires.idQuestionnaire]"><h3 class="m-b-20 text-white">{{questionnaires.thematique}}</h3></a>

        <div class="col-md-4 col-xl-3  ">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <a class = text-decoration-none [routerLink] = "['/choix-metier',questionnaires.idQuestionnaire]"><h3 class="m-b-20 text-white">{{questionnaires.thematique}}</h3></a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #loading>
      <div class="loader">
        <div class="spinner-border spinner-border-lg text-secondary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>





  </div>

  <ng-template #loading>
    <div class="loader">
      <div class="spinner-border spinner-border-lg text-secondary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
