<ng-container *ngIf="metiers$">
  <ng-container>
    <div class="d-flex justify-content-center" style="padding: 8px 0px;">
      <h1 style="margin-top: 4px; font-weight: bolder;" class="pt-2">Veuillez sélectionner un ou plusieurs métiers</h1>
    </div>

    <div style="display: flex; flex-wrap: wrap; flex-direction: row;
                justify-content: space-between; margin: 0px 32px;">
      <app-evaluation-metier-item style="display: flex; height: 220px; width: calc(25%); justify-content: center;"
      *ngFor="let metier of metiers$" [metier$]="metier"></app-evaluation-metier-item>
    </div>

    <form class="form-inline ms-auto">
      <button (click)="onValidateMetiers(metiers$)">
        VALIDER
      </button>
    </form>
  </ng-container>

  <!-- <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    <div class="loader">
      <div class="spinner-border spinner-border-lg text-secondary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container> -->
</ng-container>


