
  <div class="modal-header bg-danger">
    <h4 class="modal-title" id="modal-basic-title">ERROR</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-danger">
      <p class="pt-3"><strong>{{message}}</strong></p>
  </div>
  <div class="modal-footer bg-danger">
    <button type="button" class="btn btn-light" (click)="modalRef.close()">Ok</button>
  </div>

