.card-selected {
  border: 2px solid #323744;
}

.selection {
  cursor: pointer;
  color: #323744;
  background: #fff;
  position: absolute;
  right:-10px;
  top:-10px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

@import '../../../../../assets/common-css/gradient-colors';


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 300px;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
img.logo-navbar {
  width: 3rem !important;
  height: 3rem !important;
}


@media (max-width: 500px) {

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

}














/* Backgrounds */




.card:not([class*=card-outline-]) {
  border: 0;
}
.card {
  height: 100%;
  box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
  -webkit-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -moz-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -o-transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
  -webkit-border-radius: 0.4167rem;
  -moz-border-radius: 0.4167rem;
  -ms-border-radius: 0.4167rem;
  -o-border-radius: 0.4167rem;
  border-radius: 0.4167rem;
}
.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

blockquote {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}
blockquote {
  margin: 0 0 1rem;
}
.blockquote p {
  font-size: 1.1rem;
}
.card .card-body p {
  margin-bottom: 1rem;
}



.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff, rgba(115, 180, 255, 0.84));
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6, rgba(89, 224, 197, 0.78));
}

.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, rgba(218, 136, 5, 0.84));
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370, rgba(255, 134, 154, 0.66));
}

.bg-c-rouge {
  background: linear-gradient(45deg, #e33b1a, rgba(218, 59, 59, 0.55));
}

.bg-c-black {
  background: linear-gradient(45deg, #323744, #99a0a6);
}

.bg-c-green {
  background: linear-gradient(45deg, rgb(120, 192, 0), rgba(120, 192, 0, 0.37));
}




