::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

::ng-deep .mat-card-header-text {
  margin: 0px;
}

.graph3 {
  ::ng-deep .t-label-x {
    transform: rotate(-45deg);
    padding-top: 8px;
  }
}


.dashboard {
  height: 100%;
  display: flex;
  padding: 8px;
}

.dashboard-sidebar {
  height: 100%;
  padding: 8px;
  min-height: 100%
}

.sidebar-card {
  height: 78vh;
}

.dashboard-content {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.numeric-card {
  padding: 0;
  margin: 0;
  flex: 1;
  text-align: center;
  font-weight: bolder;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.header-card {
  display: flex;
  gap: 48px;
  height: 14vh;
}

.number {
  font-size: 16px;
  padding-top: 5px;
  margin: 0;
}

.title-numberic-card {
  font-size: 16px;
  padding-top: 6px;
  margin: 0;
}

.graphs-card {
  display: flex;
  gap: 16px;
}

.graph-card {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.graph-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-card:hover {
    cursor: pointer;
  }
}

.dashboard-header {
  flex: 1;
}

.dashboard-graphs {
  flex: 5;
}

.graphs {
  height: 100%;

  mat-card {
    height: 100%;
  }
}

.wrapper {
  align-items: center;
}

tui-root {
  height: 100%;
  width: 100%;
}

tui-axes {
  height: 80%;
  width: 100%;
}
