// DASHBOARD V2
mat-card {
  border-radius: 14px;
  box-shadow: none !important;
  height: 100%;
  width: 100%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

::ng-deep .mat-card-header-text {
  margin: 0px !important;
}

::ng-deep .mat-option-text {
  font-family: 'Poppins', 'Roboto';
}

mat-form-field {
  width: 200px;
  font-size: small;
}

mat-card-title {
  font-size: 14px !important;
  font-weight: bolder !important;
  padding-bottom: 4px !important;
}

.dashboard {
  height: 100%;
  display: flex;
  padding: 8px;

  mat-card, h2, mat-form-field {
    font-family: 'Poppins', 'Roboto' !important;
  }
}

.dashboard-sidebar {
  padding: 8px;
  min-height: 100%;
}

.sidebar-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 42px;
}

.dashboard-content {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.numeric-card {
  padding: 4px;
  margin: 0;
  flex: 1;
  text-align: center;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-card {
  display: flex;
  gap: 48px;
  height: 10vh;
}

.number {
  font-size: 16px;
  margin: 0;
}

.title-numeric-card {
  font-size: 14px;
  margin: 0;
}

.graph-card {
  flex: 1;
  // align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.graph-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-card-header {
    span {
      font-size: 18px;
    }

    span:hover {
      cursor: pointer;
    }
  }
}

.graph1n2 .expanded {
  max-width: 100% !important;
  ::ng-deep .t-label-x {
    font-size: 16px;
  }

  ::ng-deep .t-content {
    font-size: 16px;
  }
}

.graph1n2 {
  mat-card {
    width: 100%;
  }

  ::ng-deep .t-label-x {
    text-align: center;
  }

  ::ng-deep .t-content {
    font-size: 10px;
  }
}

.graph3n4 {
  mat-card {
    width: 100%;
  }

  mat-card-header {
    span {
      right: 32px;
    }
  }

  ::ng-deep .t-content {
    font-size: 10px;
  }

  .graph4 {
    padding-top: 4px;
    max-width: 100% !important;
    height: 100%;
    overflow-x: scroll;

    ::ng-deep {
      tui-bar {
        background: var(--tui-positive) !important;
      }
    }
  }

  ::ng-deep {
    .t-container {
      width: 54px;
    }

    .t-label-x:before {
      width: 54px;
    }

    .t-label-x {
      text-align: center;
      font-size: 7px;
    }
  }
}

.graph3n4 .expanded {
  max-width: 100% !important;
  ::ng-deep .t-label-x {
    font-size: 10px;
  }

  ::ng-deep .t-content {
    font-size: 16px;
  }

  .graph4 {
    padding-top: 4px;
    max-width: 100% !important;
    height: 100%;
    overflow-x: scroll;

    ::ng-deep {
      tui-bar {
        background: var(--tui-positive) !important;
      }
    }
  }

  ::ng-deep {
    .t-container {
      width: 68px;
    }

    .t-label-x:before {
      width: 68px;
    }

    .t-label-x {
      text-align: center;
    }
  }
}

.graph3 {
  max-width: 100% !important;
  height: 100%;

  ::ng-deep {
    .t-label-x {
      text-align: center;
      font-size: 8px;
    }

    .t-container {
      width: 54px;
    }

    .t-label-x:before {
      width: 54px;
    }
  }
}

.ring-chart {
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  height: 6rem;
}

::ng-deep {
  tui-pie-chart {
    height: 100px;
  }
}

.dashboard-header {
  flex: 1;
}

.dashboard-graphs {
  mat-card {
    div {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  height: 100%;

  div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

tui-root {
  height: 100%;
  width: 100%;
}

tui-axes {
  height: 95%;
  width: 100%;
}

.filtres {
  padding-top: 32px;
}
