::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

.dashboard {
  height: 100%;
  display: flex;
  padding: 8px;
}

.dashboard-sidebar {
  height: 100%;
  padding: 8px;
  min-height: 100%
}

.sidebar-card {
  height: 78vh;
}

.dashboard-content {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.numeric-card {
  flex: 1;
  text-align: center;
  font-weight: bolder;
}

.header-card {
  display: flex;
  gap: 48px;
}

.number {
  font-size: large;
}

.graphs-card {
  display: flex;
  gap: 16px;
}

.graph-card {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.graph-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-card:hover {
    cursor: pointer;
  }
}

.dashboard-header {
  flex: 1;
}

.dashboard-graphs {
  flex: 4;
}

.graphs {
  height: 100%;

  mat-card {
    height: 100%;
  }
}

.wrapper {
  align-items: center;
}

tui-axes {
  height: 100%;
  width: 100%;
}
