<div class="dashboard">
  <div class="dashboard-sidebar">
    <mat-card class="sidebar-card">
      <div class="dashboard-title">
        <h2><b>RiskEvaluator<br>Dashboard</b></h2>
        <div class="filtres">
          <div class="entreprise-filtre">
            <mat-form-field appearance="fill">
              <mat-label>Entreprises</mat-label>
              <mat-select [formControl]="entrepriseControl" multiple>
                <mat-select-trigger>
                  {{entrepriseControl.value?.[0] || ''}}
                  <span *ngIf="(entrepriseControl.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{(entrepriseControl.value?.length || 0) - 1}} {{entrepriseControl.value?.length === 2 ? 'autre' : 'autres'}})
                  </span>
                </mat-select-trigger>
                <mat-option #matOption *ngFor="let entreprise of autoFilteredEntreprises" [value]="entreprise.nomEntreprise"
                  (click)="selectEntreprise(entreprise, matOption.selected)">
                  {{ entreprise?.nomEntreprise }}
                  <span style="font-size: 11px;">
                    {{ " (SIRET: " + (entreprise?.noSiret) + ")" }}
                  </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="questionnaire-filtre">
            <mat-form-field appearance="fill">
              <mat-label>Questionnaires</mat-label>
              <mat-select [formControl]="questionnaireControl" multiple>
                <mat-select-trigger>
                  {{questionnaireControl.value?.[0] || ''}}
                  <span *ngIf="(questionnaireControl.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{(questionnaireControl.value?.length || 0) - 1}} {{questionnaireControl.value?.length === 2 ? 'autre' : 'autres'}})
                  </span>
                </mat-select-trigger>
                <mat-option #matOption *ngFor="let questionnaire of allQuestionnaires" [value]="questionnaire.thematique"
                  (click)="selectQuestionnaire(questionnaire, matOption.selected)">{{questionnaire?.thematique}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="metier-filtre">
            <mat-form-field appearance="fill">
              <mat-label>Métiers</mat-label>
              <mat-select [formControl]="metierControl" multiple>
                <mat-select-trigger>
                  {{metierControl.value?.[0] || ''}}
                  <span *ngIf="(metierControl.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{(metierControl.value?.length || 0) - 1}} {{metierControl.value?.length === 2 ? 'autre' : 'autres'}})
                  </span>
                </mat-select-trigger>
                <mat-option #matOption *ngFor="let metier of autoFilteredMetiers" [value]="metier.nomMetier"
                  (click)="selectMetier(metier, matOption.selected)">{{metier?.nomMetier}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div>
        <img style="height: 100px; cursor: pointer" src="./../../../../assets/img/capeb-logo.png">
      </div>
    </mat-card>
  </div>
  <div class="dashboard-content">
    <div class="dashboard-header">
      <div class="header-card">
        <mat-card class="numeric-card">
          <p class="title-numeric-card">Nombre d'entreprises</p>
          <p class="number">{{ nbEntreprise }}</p>
        </mat-card>
        <mat-card class="numeric-card">
          <p class="title-numeric-card">Nombre de métiers</p>
          <p class="number">{{ nbMetier }}</p>
        </mat-card>
        <mat-card class="numeric-card">
          <p class="title-numeric-card">Nombre d'évaluations</p>
          <p  class="number">{{ filteredEvaluations.length }}</p>
        </mat-card>
      </div>
    </div>
    <div class="dashboard-graphs">
      <mat-grid-list [cols]="getColShown()" rowHeight="2:1" gutterSize="16">
        <mat-grid-tile *ngIf="!hide1" class="graph-div graph1n2">
          <mat-card class="graph-card" [ngClass]="{'expanded': isExpanded1}">
            <mat-card-header style="display: flex; justify-content: space-between;">
              <mat-card-title>Score moyen par taille d'entreprise</mat-card-title>
              <span class="fa-solid fa-expand" (click)="expand1()"></span>
            </mat-card-header>
            <tui-root>
              <tui-axes
                class="axes"
                [axisXLabels]="graph1LabelsX"
                [axisYLabels]="graph1LabelsY"
              >
                <tui-bar-chart
                  [max]="100"
                  [value]="scoresMoyenGraph1"
                  [tuiHintAppearance]="appearance"
                  [tuiHintContent]="hintGraph1"
                ></tui-bar-chart>
              </tui-axes>
            </tui-root>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!hide3" class="graph-div graph3n4">
          <mat-card class="graph-card" [ngClass]="{'expanded': isExpanded3}">
            <mat-card-header style="display: flex; justify-content: space-between;">
              <mat-card-title>Score moyen par métier</mat-card-title>
              <span class="fa-solid fa-expand" (click)="expand3()"></span>
            </mat-card-header>
            <div class="graph2">
              <tui-root>
                <tui-axes *ngIf="scoresMetiers.length > 0"
                          [axisXLabels]="metierNames"
                          [axisYLabels]="graph3LabelsY">
                  <tui-bar-chart
                    [max]="100"
                    [value]="scoresMetiers"
                    [tuiHintAppearance]="appearance"
                    [tuiHintContent]="hintGraph3"></tui-bar-chart>
                </tui-axes>
              </tui-root>
            </div>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!hide2" class="graph-div graph1n2">
          <mat-card class="graph-card" [ngClass]="{'expanded': isExpanded2}">
            <mat-card-header style="display: flex; justify-content: space-between;">
              <mat-card-title>Répartition des évaluations par questionnaire</mat-card-title>
              <span class="fa-solid fa-expand" (click)="expand2()"></span>
            </mat-card-header>
            <div class="ring-chart">
              <tui-ring-chart
                [size]="isExpanded2 ? 'xl' : 'm'"
                class="tui-space_right-4"
                [value]="nbReponsesParQuestionnaire"
                [tuiHintContent]="hintGraph2"
                [(activeItemIndex)]="activeItemIndex"
              >
                <div>Thématiques des questionnaires</div>
              </tui-ring-chart>
              <div class="legend" style="display: flex; flex-direction: column; gap: 16px; justify-content: space-evenly;">
                  <tui-legend-item
                      *ngFor="let label of graph2Labels; let index = index"
                      size="s"
                      class="item"
                      [color]="getColor(index)"
                      [text]="label"
                      [active]="isItemActive(index)"
                      (click)="onClick(index, $event)"
                  >
                  </tui-legend-item>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!hide4" class="graph-div graph3n4">
          <mat-card class="graph-card" [ngClass]="{'expanded': isExpanded4}">
            <mat-card-header style="display: flex; justify-content: space-between;">
              <mat-card-title>Nombre d'évaluations par catégorie de question</mat-card-title>
              <span class="fa-solid fa-expand" (click)="expand4()"></span>
            </mat-card-header>
            <div class="graph4">
              <tui-root>
                <tui-axes *ngIf="nbEvalsParLibelle.length > 0"
                          [axisXLabels]="libelles"
                          [axisYLabels]="graph4LabelsY">
                  <tui-bar-chart
                    [max]="allEvaluations?.length + 5"
                    [value]="nbEvalsParLibelle"
                    [tuiHintAppearance]="appearance"
                    [tuiHintContent]="hintGraph4"></tui-bar-chart>
                </tui-axes>
              </tui-root>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
