  <div class="dashboard">
  <div class="dashboard-left">
    <div class="dashboard-title">
      <mat-card class="title-card">
        <b>Dashboard RiskEvaluator</b>
      </mat-card>
    </div>
    <div class="dashboard-left-middle">
      <div class="wrapper">
        <tui-pie-chart
            size="xs"
            class="tui-space_right-4"
            [value]="value"
        ></tui-pie-chart>
        <tui-pie-chart
            size="s"
            class="tui-space_right-4"
            [value]="value"
        ></tui-pie-chart>
        <tui-pie-chart
            size="m"
            class="tui-space_right-4"
            [value]="value"
        ></tui-pie-chart>
        <tui-pie-chart
            size="l"
            class="tui-space_right-4"
            [value]="value"
        ></tui-pie-chart>
        <tui-pie-chart
            size="xl"
            class="tui-space_right-4"
            [value]="value"
        ></tui-pie-chart>
    </div>
    </div>
    <div class="dashboard-left-bottom">

    </div>
  </div>
  <div class="dashboard-right">
    <div class="dashboard-filters">
      <!-- <div class="entreprise-filtre">
        <mat-form-field style="width: 220px;" appearance="fill">
          <mat-label>Entreprises</mat-label>
          <mat-select [formControl]="entrepriseControl" multiple>
            <mat-select-trigger>
              {{entrepriseControl.value?.[0] || ''}}
              <span *ngIf="(entrepriseControl.value?.length || 0) > 1" class="example-additional-selection">
                (+{{(entrepriseControl.value?.length || 0) - 1}} {{entrepriseControl.value?.length === 2 ? 'autre' : 'autres'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let entreprise of filteredEntreprises" [value]="entreprise">{{entreprise?.nomEntreprise}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="questionnaire-filtre">
        <mat-form-field style="width: 220px;" appearance="fill">
          <mat-label>Questionnaires</mat-label>
          <mat-select [formControl]="questionnaireControl" multiple>
            <mat-select-trigger>
              {{questionnaireControl.value?.[0] || ''}}
              <span *ngIf="(questionnaireControl.value?.length || 0) > 1" class="example-additional-selection">
                (+{{(questionnaireControl.value?.length || 0) - 1}} {{questionnaireControl.value?.length === 2 ? 'autre' : 'autres'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let questionnaire of filteredQuestionnaires" [value]="questionnaire">{{questionnaire?.thematique}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="metier-filtre">
        <mat-form-field style="width: 220px;" appearance="fill">
          <mat-label>Métiers</mat-label>
          <mat-select [formControl]="metierControl" multiple>
            <mat-select-trigger>
              {{metierControl.value?.[0] || ''}}
              <span *ngIf="(metierControl.value?.length || 0) > 1" class="example-additional-selection">
                (+{{(metierControl.value?.length || 0) - 1}} {{metierControl.value?.length === 2 ? 'autre' : 'autres'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let metier of filteredMetiers" [value]="metier">{{metier?.nomMetier}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>
    <div>

    </div>
    <div>

    </div>
  </div>
</div>
