body{
  margin-top:5px;
  background:#FAFAFA;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#343a40, #99a0a6);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.globalBackground{
  background: linear-gradient(45deg, #460364, #dc81d8);

}
