<ng-template #modalContentCreateOrUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{title}} préconisation catégorie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Préconisation</label>
      <textarea
        required
        class="form-control"
        id="Contenue"
        rows="5"
        [(ngModel)] = "preconisationCategorieQuestion.contenu"
        #suggestion="ngModel"></textarea>
      <label for="exampleInputEmail1">Afficher suggestion si le score est inférieur à (%)</label>
      <input
        required
        type="number"
        class="form-control"
        id="Pourcentages"
        (input)="checkInputRange($event)"
        [(ngModel)] = "preconisationCategorieQuestion.viewIfPourcentageScoreLessThan"
        #pourcentages="ngModel">
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="suggestion.errors?.['required'] || pourcentages.errors?.['required']" type="button" class="btn btn-outline-dark" (click)="modal.close('Valider')">Valider</button>
  </div>
</ng-template>

<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suggestion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Voulez-vous vraiment supprimer cette suggestion ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Valider')">Valider</button>
  </div>
</ng-template>
