<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link">
    <img
        src="assets/img/logo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Capeb Evaluator</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div *ngIf="isLoggedIn" class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img
                [src]="user?.picture || 'assets/img/default-profile.png'"
                class="img-circle elevation-2"
                alt="User Image"
            />
        </div>
        <div class="info">
          <div *ngIf="user?.email">
            <a  [routerLink]="['/profile']" class="d-block">
              {{ user.email }}
            </a>
          </div>
          <div *ngIf="!user?.email">
            <a  [routerLink]="['/profile']" class="d-block">
              Visitor
            </a>
          </div>
        </div>
    </div>
   <!-- Sidebar Menu -->
    <nav class="mt-2" style="overflow-y: hidden">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
            <app-menu-item
                *ngFor="let item of menu"
                [menuItem]="item"
            ></app-menu-item>
        </ul>
    </nav>
  <br>

  <ng-container *ngIf="isLoggedIn && showAdminBoard">

    <div class="nav-header"> &nbsp; &nbsp; ADMINISTRATION </div>

    <nav class="mt-2" style="overflow-y: hidden">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <app-menu-item
          *ngFor="let item of adminMenu"
          [menuItem]="item"
        ></app-menu-item>
      </ul>
    </nav>

  </ng-container>


</div>
