
<app-list title="Liste des métiers" (onAdd)="add()">
    <div *ngFor="let metier of metiers">
        <app-list-item
            id="{{metier.idMetier}}"
            [data]="metier"
            (onUpdate)="update($event)"
            (onDelete)="delete($event)">
            <app-list-item-col>{{metier.nomMetier}}</app-list-item-col>
        </app-list-item>
      </div>
</app-list>

<app-metier-form [metier]="actualMetier" (onConfirmation)="createOrUpdateOrDeleteMetier($event)" #metierForm></app-metier-form>
