<div >
  <button class="btn btn-dark btn-lg" style="border: none; background-color: transparent;
  padding: 0.5rem 1rem; font-size: 1.25rem; border-radius: 0.3rem; color: #dc3545;" type="button" (click)="back()">&laquo; Retour</button>


  <h1 class="header text-center p-4">{{(categorieQuestion | async)?.libelle}}</h1>
</div>

<app-list title="Liste des questions" (onAdd)="add()">
    <ng-template [ngIf]="categorieQuestion | async" [ngIfElse]="loading">
        <ng-container *ngFor="let question of (categorieQuestion | async)?.questions">
            <app-list-item
                id="{{question.idQuestion}}"
                [data]="question"
                (onRowClick)="update($event)"
                (onUpdate)="update($event)"
                (onDelete)="delete($event)"
            >
            <app-list-item-col>{{question.libelleQuestion}}</app-list-item-col>
        </app-list-item>
        </ng-container>
    </ng-template>
</app-list>

<app-list title="Liste des préconisations de categorie" (onAdd)="addSuggestion()">
  <app-list-item [header]="true">
    <app-list-item-col>Libellé</app-list-item-col>
    <app-list-item-col>Inférieur à</app-list-item-col>
  </app-list-item>
  <ng-template [ngIf]="categorieQuestion | async" [ngIfElse]="loading">
    <ng-container *ngFor="let suggestions of (categorieQuestion | async)?.preconisationsCategorie">
      <app-list-item
        id="{{suggestions.idPreconisation}}"
        [data]="suggestions"
        (onRowClick)="updateSuggestion($event)"
        (onUpdate)="updateSuggestion($event)"
        (onDelete)="deleteSuggestion($event)"
      >
        <app-list-item-col>{{suggestions.contenu}}</app-list-item-col>
        <app-list-item-col>{{suggestions.viewIfPourcentageScoreLessThan}}</app-list-item-col>
      </app-list-item>
    </ng-container>
  </ng-template>
</app-list>

<ng-template #loading>
    <div class="loader">
        <div class="spinner-border spinner-border-lg text-secondary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<app-preconisation-categorie-question-form [preconisationCategorieQuestion]="actualPreconisationCategorieQuestion" (onConfirmation)="createOrUpdateOrDeletePreconisationCategorieQuestion($event)" #preconisationCategorieQuestionForm></app-preconisation-categorie-question-form>

<app-question-modal [question]="actualQuestion" (onConfirmation)="createOrUpdateOrDeleteQuestion($event)" #questionModal></app-question-modal>
