<app-list title="Liste des questions" (onAdd)="add()">
    <ng-template [ngIf]="categorieQuestion | async" [ngIfElse]="loading">
        <ng-container *ngFor="let question of (categorieQuestion | async)?.questions">
            <app-list-item
                id="{{question.idQuestion}}"
                [data]="question"
                (onUpdate)="update($event)"
                (onDelete)="delete($event)"
            >
            <app-list-item-col>{{question.libelleQuestion}}</app-list-item-col>
        </app-list-item>
        </ng-container>
    </ng-template>
</app-list>

<app-list title="Liste des suggestions" (onAdd)="addSuggestion()">
  <ng-template [ngIf]="categorieQuestion | async" [ngIfElse]="loading">
    <ng-container *ngFor="let suggestions of (categorieQuestion | async)?.preconisationsCategorie">
      <app-list-item
        id="{{suggestions.idPreconisation}}"
        [data]="suggestions"
        (onUpdate)="updateSuggestion($event)"
        (onDelete)="deleteSuggestion($event)"
      >
        <app-list-item-col>{{suggestions.contenu}}</app-list-item-col>
      </app-list-item>
    </ng-container>
  </ng-template>
</app-list>

<ng-template #loading>
    <div class="loader">
        <div class="spinner-border spinner-border-lg text-secondary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<app-preconisation-categorie-question-form [preconisationCategorieQuestion]="actualPreconisationCategorieQuestion" (onConfirmation)="createOrUpdateOrDeletePreconisationCategorieQuestion($event)" #preconisationCategorieQuestionForm></app-preconisation-categorie-question-form>

<app-question-modal [question]="actualQuestion" (onConfirmation)="createOrUpdateOrDeleteQuestion($event)" #questionModal></app-question-modal>
<app-error-modal #errorModal></app-error-modal>
