::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

.filters {
  display: flex;
  justify-content: flex-end;
  // padding-top: 16px;
  padding-right: 12px;
  padding-left: 12px;
}

body{
  margin-top:20px;
  background:#FAFAFA;
}

.container {
  font-size: smaller;
  padding: 16px;
}

mat-card, h2, mat-form-field {
  font-family: 'Poppins', 'Roboto' !important;
}
