<div style="padding: 32px;">
  <h1><strong>Cette application a été développée par les étudiants de M2 MIAGE </strong></h1>
  <div style="display: flex;">
    <div style="width: 200px">
      <h3><b>Promotion 2021</b></h3>
      <ul>
        <li>Massinissa BITOUS</li>
        <li>Lamine BOUAZIZ</li>
        <li>Ali CANSEV</li>
        <li>Aly FALL</li>
        <li>Tariq HASDI</li>
      </ul>
    </div>
    <div style="width: 200px; margin-left: 5%;">
      <h3><b>Promotion 2022</b></h3>
      <ul>
        <li>Ismail BADZI</li>
        <li>Ilyes BELAHADJI</li>
        <li>Mohamed ELASRI</li>
        <li>Adam MADIDE</li>
        <li>Julien RULL</li>
        <li>Rabia SNOUCI</li>
      </ul>
    </div>
    <div style="margin-left: 5%;">
      <h3><b>Promotion 2023</b></h3>
      <ul>
        <li>Karim ABOUD</li>
        <li>Sherif ABOUD</li>
        <li>Ahmed Islam KIMOUR</li>
        <li>Eddy NOURIN</li>
        <li>Abdelhak OUCHAR</li>
        <li>Mitia Ainjato RAVELOBAOAVY</li>
      </ul>
    </div>
  </div>
  <br/>
  <h1><strong>Les questionnaires ont été créés par les étudiants de GEA </strong></h1>
  <div style="display: flex;">
    <div style="width: 200px">
      <h3><b>Promotion 2021</b></h3>
      <ul>
        <li>Clément AZZOPARDI</li>
        <li>Maude LANDRU</li>
        <li>Eva PASSAS</li>
        <li>Sarah SERRAG</li>
        <li>Noémie WALTZ</li>
      </ul>
    </div>
    <div style="width: 200px; margin-left: 5%">
      <h3><b>Promotion 2022</b></h3>
      <ul>
        <li>Jessica DIAS</li>
        <li>Coline FAURE DREUSSI</li>
        <li>Mathys LUTZ</li>
        <li>Sarah MONTANIER</li>
        <li>Victor SELLIN</li>
        <li>Valentin TISSOT</li>
      </ul>
    </div>
  </div>
</div>

<!-- <div style="display: flex; padding: 16px; overflow: hidden; gap: 16px">
  <mat-card style="flex: 1;">
    <h1><strong>Cette application a été développée par les étudiants de M2 MIAGE </strong></h1>
    <div style="display: flex;">
      <div style="width: 200px">
        <h3><b>Promotion 2021</b></h3>
        <ul>
          <li>Massinissa BITOUS</li>
          <li>Lamine BOUAZIZ</li>
          <li>Ali CANSEV</li>
          <li>Aly FALL</li>
          <li>Tariq HASDI</li>
        </ul>
      </div>
      <div style="width: 200px; margin-left: 5%;">
        <h3><b>Promotion 2022</b></h3>
        <ul>
          <li>Ismail BADZI</li>
          <li>Ilyes BELAHADJI</li>
          <li>Mohamed ELASRI</li>
          <li>Adam MADIDE</li>
          <li>Julien RULL</li>
          <li>Rabia SNOUCI</li>
        </ul>
      </div>
    </div>
    <div>
      <h3><b>Promotion 2023</b></h3>
      <ul>
        <li>Karim ABOUD</li>
        <li>Sherif ABOUD</li>
        <li>Ahmed Islam KIMOUR</li>
        <li>Eddy NOURIN</li>
        <li>Abdelhak OUCHAR</li>
        <li>Mitia Ainjato RAVELOBAOAVY</li>
      </ul>
    </div>
  </mat-card>

  <mat-card style="flex: 1;">
    <h1><strong>Les questionnaires ont été créés par les étudiants de GEA </strong></h1>
    <div style="display: flex;">
      <div style="width: 200px">
        <h3><b>Promotion 2021</b></h3>
        <ul>
          <li>Clément AZZOPARDI</li>
          <li>Maude LANDRU</li>
          <li>Eva PASSAS</li>
          <li>Sarah SERRAG</li>
          <li>Noémie WALTZ</li>
        </ul>
      </div>
      <div style="width: 200px; margin-left: 5%">
        <h3><b>Promotion 2022</b></h3>
        <ul>
          <li>Jessica DIAS</li>
          <li>Coline FAURE DREUSSI</li>
          <li>Mathys LUTZ</li>
          <li>Sarah MONTANIER</li>
          <li>Victor SELLIN</li>
          <li>Valentin TISSOT</li>
        </ul>
      </div>
    </div>
  </mat-card>
</div> -->
