<h1><strong>Cette application a été effectué par les etudians de M2 MIAGE </strong></h1>
<h3><b>Promotion 2022</b></h3>
<ul>
  <li>Ismail BADZI</li>
  <li>Mohamed ELASRI</li>
  <li>Rabia SNOUCI</li>
  <li>Julien RULL</li>
  <li>Ilyes BELAHADJI</li>
  <li>Adam MADIDA</li>
</ul>
<br/><br/>
<h1><strong>Les questionnaires sont renseignés par les etudians de GEA </strong></h1>
<h3><b>Prévention des risques professionnels</b></h3>
<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

