

<div >

  <button class="btn btn-dark btn-lg  " type="button" (click)="back()">&laquo; Retour</button>
  <h1 class="header text-center p-4">{{(questionnaire | async)?.thematique}}</h1>
</div>
<app-list title="Liste des catégories de questions" (onAdd)="addC()" >
  <ng-template [ngIf]="questionnaire | async" [ngIfElse]="loading">
    <ng-container *ngFor="let CategorieQuestion of (questionnaire | async)?.categorieQuestions">
        <app-list-item
            id="{{CategorieQuestion.idCategorie}}"
            [data]="CategorieQuestion"
            (onUpdate)="updateC($event)"
            (onDelete)="deleteC($event)"
            (onRowClick)="categorieDetails($event)"
        >
      <app-list-item-col>{{CategorieQuestion.libelle}}</app-list-item-col>
      </app-list-item>
    </ng-container>
</ng-template>


</app-list>
<ng-template #loading>
  <div class="loader">
      <div class="spinner-border spinner-border-lg text-secondary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
</ng-template>
<app-categorie-question-form [CategorieQuestion]="actualCategorieQuestion" (onConfirmation)="createOrUpdateOrDeleteCategorieQuestion($event)" #categorieQuestionForm></app-categorie-question-form>



<app-list title="Liste des préconisations Globale" (onAdd)="add()" >
  <app-list-item [header]="true">
    <app-list-item-col>Libellé</app-list-item-col>
    <app-list-item-col>Inférieur à</app-list-item-col>
  </app-list-item>
  <ng-template [ngIf]="questionnaire | async" [ngIfElse]="loading">
    <ng-container *ngFor="let preconisationGlobale of (questionnaire | async)?.preconisationGlobales">
        <app-list-item
            id="{{preconisationGlobale.idPreconisationG}}"
            [data]="preconisationGlobale"
            (onRowClick)="update($event)"
            (onUpdate)="update($event)"
            (onDelete)="delete($event)"
        >
      <app-list-item-col>{{preconisationGlobale.contenu}}</app-list-item-col>
      <app-list-item-col>{{preconisationGlobale.viewIfPourcentageScoreLessThan}}</app-list-item-col>
      </app-list-item>
    </ng-container>
  </ng-template>
</app-list>
<ng-template #loading>
  <div class="loader">
      <div class="spinner-border spinner-border-lg text-secondary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
</ng-template>
<app-preconisation-global-form [preconisationGlobale]="actualPreconisationGlobale" (onConfirmation)="createOrUpdateOrDeletePreconisationGlobale($event)" #preconisationGlobaleForm></app-preconisation-global-form>


