<section>
  <div class="about-us">
    <h2>La CAPEB vous accompagne...</h2>
    <p> La CAPEB, organisation professionnelle du bâtiment, représentative des artisans et des petites entreprises du bâtiment a pour  missions : promouvoir défendre, représenter leurs intérêts.
      <br/>Nous mettons à votre disposition cet outil, qui vous permettra de d'évaluer votre marque employeur à l'aide d'un questionnaire.
      <br/>N'hésitez pas à nous contacter pour toutes informations.
    </p>

    <button type="button"  class="btn btn-primary btn-lg outline" (click)="goTo('evaluer')">
     Effectuer une évaluation
    </button>


  </div>
  <div class="image-wrapper">
    <img src="../../../../assets/img/background-photo.png" />
  </div>
</section>
