// Taille min et max des entrées
.choixUniqueQuestionButtons {
  width: 41vw;

  margin-bottom: 1.7%;
  border: 1px solid rgba(202, 202, 202, 0.6);
  border-radius: 2%;
  text-align: left;
  color: #797979;
  font-size: 1vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.choixUniqueQuestionButtons:hover {
  border: 2px solid rgb(0, 0, 0);
}


.checkBoxGroup {
  display: flex;
  flex-direction: column;
  margin: 0 6%;
}

.checkBox {
  margin: 1%;
  line-height: 20px;
}

::ng-deep .mat-checkbox-label {
  white-space: initial;
}

.checkedCheckBoxAucun {
  color: red;
  font-style: italic;
  font-size: small;
}

::ng-deep .helpTooltip {
  background-color: rgb(55, 185, 255);
  font-size: medium;
}

.radio-group-label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  color: #797979eb;
  font-size: 1.4vw;
  padding: 3% 2% 2% 0%;
  line-height: 130%;
  // box-shadow: 3px 3px 5px -1px #d1d1d1;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0 6%;
  width: 60%;
}


@media (max-width: 767px) {
  .choixUniqueQuestionButtons {
    margin-bottom: 5%;
    min-width: 81%;
    max-width: 83%;
    font-size: small !important;
  }

  .radio-group-label{
    margin-left: -3%;
    font-size: small !important;
  }
}
