.titleRow{
  text-align: center;
  margin-top: 2%;
  font-size: 300%;
  margin-bottom: 2%;
  color: rgb(194, 0, 0);
  font-weight: 500;
}

.sendButton{
  color: green;
  border: 3px solid green;
  // width: 30%;
  font-size: x-large;
  margin-top: 1%;
}

.connexionProgress{
  width: 85%;
  margin-left: 10%;
  margin-top: -2%;
  // margin-right: 10%;
}

.sectionCarte{
  margin-top: -1%;
  text-align: -webkit-center;
  font-size: 120%;
  color: rgb(255, 86, 86);
}





@media only screen and (max-width: 1200px) {

  .contactTitle{
    // text-align: center;
    margin-top: 4%;
    justify-content: center;
    font-size: 110%;
    color: rgb(194, 0, 0);

  }
  .sendButtonSection{
    margin-left: 0%;
    margin-bottom: 10%;
  }
  .sendButton{
    color: green;
    border: 3px solid green;
    // width: 30%;
    font-size: x-large;
    margin-top: 1%;
  }


}


.questionOuverte{
  min-width: 85%;
  margin-left: 10%;
}

.formulaireTitle{
  margin-top: 6%;
  text-align: center;
  font-size: 130%;
  color: rgb(90, 90, 90);
}
.formulaire{
  margin-top: 1%;
}

.sendButtonSection{
  text-align: center;
  margin-left: 20%;
}
